/* Root Colors & Sizes */

:root {
    /* Primary Colors */
    --red-color: #db152f; /* Adjust based on your design */
    --green-color: #3d7b34;
  
    /* Neutral Colors */
    --light-color: #f8f9fa;
    --dark-color: #212529;
  
    /* Font Settings */
    --font-primary: 'Arial', sans-serif;
    --font-secondary: 'Georgia', serif;
  
    /* Responsive Font Sizes */
    --font-responsive-sm: clamp(14px, 2vw, 16px);
    --font-responsive-md: clamp(16px, 3vw, 20px);
    --font-responsive-lg: clamp(20px, 4vw, 24px);
    --font-responsive-xl: clamp(24px, 5vw, 32px);
  
    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
  
    /* Border Radius */
    --border-radius: 8px;
  
    /* Shadows */
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }

  /* Header/Navigation */
  .navbar-toggler {
    border: none !important; /* Remove the outline */
    box-shadow: none !important; /* Ensure no focus outline */
  }

  .nav-link:hover {
    color: var(--red-color);
  }

  .navbar-brand img {
    width: 90px;
  }

  .active {
    font-weight: bold;
  }

  .social-link i {
    font-size: 1.7rem;
    color: var(--green-color);
    transition: all .3s ease-in-out;
  }

  .social-link i:hover {
    transform: scale(1.05);
    opacity: .9;
  }

  /* Footer */
.footer {
    background-color: var(--red-color);
    color: var(--light-color);
}

.footer-quicklinks-container h5 {
  font-size: var(--font-responsive-md);
}

.footer-contact-container h5 {
  font-size: var(--font-responsive-md);
}

.footer-contact-item a {
  text-decoration: none;
  color: var(--light-color);
  font-size: var(--font-responsive-sm);
}

.footer-contact-item span:hover {
  text-decoration: underline;
}

.footer-link {
    color: var(--light-color);
    font-size: var(--font-responsive-sm);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.footer-link:hover {
    color: var(--green-color);
    font-weight: bold;
}

.footer-socials-container h5 {
  font-size: var(--font-responsive-md);
}

.footer-social-link i {
    font-size: 1.7rem;
    transition: all .3s ease-in-out;
    color: var(--light-color);
}

.footer-social-link i:hover {
    transform: scale(1.05);
    color: var(--green-color);
}

.footer-brand {
    text-align: center;
}

.footer-brand img {
    width: 200px;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright p {
    margin: 0;
    font-size: var(--font-responsive-sm);
}

.footer-copyright a {
    color: var(--light-color);
    text-decoration: none;
    font-size: var(--font-responsive-sm);
}

.footer-copyright a:hover {
    text-decoration: underline;
}

.footer-line {
  border-top: 1px solid var(--light-color);
}
